.dropdown {
    margin-left: 300px;
    position: relative;
}

.dropdown-button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

img {
    width: 20px;
}

.dropdown-content {
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: repeat(auto-fill, 1fr);
    align-items: center;
    justify-items: stretch;
    z-index: 1;
    position: absolute;
    visibility: hidden;
}

.dropdown-item {
    outline: none;
    border-style: none;
    line-height: 2em;
}

/*.dropdown:hover .dropdown-content {*/
/*    visibility: visible;*/
/*}*/

/*.dropdown:hover img {*/
/*    content: url("./assets/chevron-up.svg");*/
/*}*/

.dropdown-content-show {
    visibility: visible;
}